<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="My Uglyass App"></a></h2>
        <nav>
            <a href="#">Log in</a>
        </nav>
    </header>

    <main>
        <h3>Welcome to homepage</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam reiciendis officiis voluptatibus, tenetur nemo doloremque adipisci maxime cum, hic atque blanditiis neque dolores enim itaque laborum optio. Quo, quia autem.</p>
    </main>

    <footer>
        <small>&copy; Uglyass App</small>
    </footer>
</body>
</html>